*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.circle{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 10px;
    /* margin-top: 300px; */
    background-color: aqua;
    position: relative;
    animation: a 8s;
    animation-delay: 10s;
    transition: all;
    transition-duration: 5s;
}
.circle:hover{
    height: 100px;
    background-color: red;

}
.box:hover+.circle{
    background-color:redō;
height: 50px;
}
@keyframes a{
    from{
        top: 0px;
        left: 0px;
    }
    to{ 
        top: 0px;
        left: 1200px;
        transform: rotate(360deg);
        background-color:yellow;

    }
}
.box{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 0px 100px 100px 0px;
    margin-top: 300px;
    position: relative;
    animation: b 10s;
}
@keyframes b{
    0%{
        top: 0px;
        left: 0px;

    }
    10%{
        top: 100px;
        left: 0px;
        background-color: blue;
        transform: rotate(360deg);
    }
    20%{
        top: 100px;
        left: 200px;
        background-color: brown;
    }
    30%{
        top: -100px;
        left: 200px;
        background-color: blueviolet;
    }
    40%{
        top: -100px;
        left: 400px;
        background-color:burlywood;
        transform: rotate(360deg);

    }
    50%{
        top: 100px;
        left: 400px;
        background-color: red;

    }
    60%{
        top: 100px;
        left: 600px;
        background-color: red;

    }
    70%{
        top: -100;
        left: 600px;
        background-color: red;

    }
    80%{
        top: -100px;
        left: 400px;
        background-color: red;

    }
    90%{
        top: 100px ;
        left: 400px;
        background-color: red;

    }
    100%{
        top: 0px;
        left: 0px;
        background-color: red;

    }
}